<div class="devise-forms">

  <!-- alerts start-->
  <div style="<%= 'display:none' if notice.nil? and alert.nil? %>">
    <div class="alert alert-info">
      <%= notice %>
      <%= alert %>
    </div>
  </div>
  <!-- alerts end-->
  
  <h2 class="modal-title">Editar usuario</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <!-- Name -->
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
      <%= f.text_field :name, autofocus: true, class: 'form-control', :placeholder => "Nome" %>
    </div>


    <!-- Empresa -->
    <div class="form-group">
      <%= f.collection_select(:company_id, Company.all, :id, :name,
      {:prompt => "Seleccione su empresa:"}, {class: "form-control"}) %>
      <%= link_to "Agregar empresa", new_company_path %>
    </div>

    <!-- Puesto -->
    <div class="form-group">
      <%= f.select(:position, options_for_select([['Desarrollador', 1], ['Encargado de Mejoras', 2]]),
      {:prompt => "Seleccione su puesto:"}, {class: "form-control"}) %>
    </div>

    <!-- Email -->
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
      <%= f.email_field :email, class: 'form-control', :placeholder => 'email@example.com' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
      <% end %>
    </div>


    <!-- Password -->
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', :placeholder => 'Contraseña' %>
    </div>

    <!-- Confirm Password -->
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', :placeholder => 'Confirmar contraseña' %>
    </div>
    <br><br>

    <div class="">
      <p>Contraseña actual</p>
      <span class="help-block">Necesitamos tu contraseña actual para confirmar tus cambios</span>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <%= f.submit "Actualizar", class: 'btn btn-primary' %>
  <% end %>

  <br>
  <h3>Eliminar mi cuenta</h3>

  <p>
    <%= button_to "Eliminar mi cuenta", registration_path(resource_name), class: 'btn btn-danger',
                  data: { confirm: "¿Está seguro que desear eliminar su cuenta?" }, method: :delete %>
  </p>
  <br>

  <%= link_to "Regresar", :back %>

</div>
