<div class="devise-forms">

  <h2 class="modal-title">Registrarse</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <!-- Name -->
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <%= f.text_field :name, autofocus: true, class: 'form-control', :placeholder => "Nombre" %>
  </div>

  <!-- Email -->
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
    <%= f.email_field :email, class: 'form-control', :placeholder => 'email@example.com' %>
  </div>

  <!-- Empresa -->
  <div class="form-group">
    <%= f.collection_select(:company_id, Company.all, :id, :name,
    {:prompt => "Seleccione su empresa:"}, {class: "form-control"}) %>
    <%= link_to "Agregar empresa", new_company_path, class:'field' %>
  </div>

  <!-- Puesto -->
  <div class="form-group">
    <%= f.select(:position, options_for_select([['Usuario del proceso', 1], ['Encargado de mejoras (SEPG)', 2]]),
    {:prompt => "Seleccione su rol:"}, {class: "form-control"}) %>
  </div>


  <!-- Password -->
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', :placeholder => 'Contraseña (mínimo 8 caracteres)' %>
    <!--
    <% if @validatable %>
    <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
    <% end %>
    -->
  </div>

  <!-- Confirm Password -->
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', :placeholder => 'Confirmar contraseña' %>
  </div>

  <%= f.submit "Registrarse", class: 'btn btn-primary' %>
  <% end %>

  <div class="field">
    <%= link_to "Log in", new_session_path(resource_name) %><br />
  </div>

  <!-- alerts start-->
  <div style="<%= 'display:none' if notice.nil? and alert.nil? %>">
    <div class="alert alert-info">
      <%= notice %>
      <%= alert %>
    </div>
  </div>
  <!-- alerts end-->


</div>
