<% if @current_user_practice.nil? %>
  <% if @current_user.is_process_user? %>
    <div class="questions-finished">
      <h2 class="modal-title">Cuestionario terminado</h2>
      <p>
        Has terminado de calificar pr치cticas,<br>
        puedes regresar a alguna pregunta o terminar el cuestionario.
      </p>
      <br>
      <a id="completed_survey" class="btn btn-primary"> Terminar cuestionario </a>
    </div>

  <% else %>
    <div class="questions-finished">
      <h2 class="modal-title">Cuestionario terminado</h2>
      <p>
        Has terminado de calificar pr치cticas,<br>
        puedes modificar el diagrama antes de terminar y continuar a los resultados.
      </p>    <br>
      <a id="save-diagram" class="btn btn-primary"> Terminar y guardar </a>
    </div>
  <% end %>


<% else %>
  <% @practice = @current_user_practice.practice %>

  <h2 class="modal-title">Identificaci칩n de Pr치cticas</h2>


  <div class="row">
    <div class="col-md-7 question">
      <div class="text-head-h3">
        <%= @practice.id %>.
        <%= @practice.question %>
      </div>
      <div class="question_examples question">
        <%= simple_format(@practice.examples) %>
      </div>
    </div>

    <div class="col-md-5">
      <%= render 'form_answers' %>
    </div>
  </div>

  <br>
  <div class="progress">
    <div class="progress-bar  progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @progress %>%;">
    </div>
  </div>


<% end %>
