<%= form_for(@current_user_practice, remote: true, html: {id:"up_form" }) do |f| %>

  <div class="rd-btn"> <%= f.radio_button(:answer, 3, class:"radio") %> <%= f.label(:answer_3, "Sí") %> </div>
  <div class="rd-btn"> <%= f.radio_button(:answer, 2, class:"radio") %> <%= f.label(:answer_2, "No") %> </div>
  <div class="rd-btn"> <%= f.radio_button(:answer, 1, class:"radio") %> <%= f.label(:answer_1, "No sabe") %> </div>
  <div style="clear:both;"> </div>
  <div class="added-value-title" > Califica ésta práctica: </div>


  <%= rating_for @current_user_practice, "added_value",
    disable_after_rate: false,
    cancel_place: 'right',
    cancel_hint: "Cancel this rating",
    cancel_on: asset_path("cancel-on.png"),
    cancel_off: asset_path("cancel-off.png"),
    star_off: asset_path("star-off.png"),
    star_on: asset_path("star-on.png")
  %>  

  <div class="mtop">

    <button type="submit" class="btn btn-default" name="back" value="back">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      Anterior
    </button>

    <button type="submit" class="btn btn-primary" name="next" value="next">
      Siguiente
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>

  </div>
<% end %>
<script type="text/javascript">
  if ($('#user_practice_answer_1').is(':checked') || $('#user_practice_answer_2').is(':checked')){
    $('.star').fadeTo(200, 0);
    $('.added-value-title').fadeTo(200, 0);
  }
</script>
