<!--results starts-->
<div class="section-padding">
  <div class="container">

    <div class="results-title">
      <h1 class="text-head">Resultados</h1>

      <a class="btn btn-default print" href="#" onclick="window.print()">
        <i class="fa fa-print fa-lg" aria-hidden="true"></i>
        <span class="sr-only">Imprimir resultados</span>
        Imprimir
      </a>

    </div>
    <% if !@complete_sample %>
      <p class="p-completed">
        Se requiere una muestra de <%= @sample %> empleados para la empresa <b><%= @company.name %></b>.  <br>
        Faltan <%= @sample - @cont_users %> personas de responder el cuestionario para poder calcular los resultados.
      </p>
    <% else %>

      <!-- Valor añadido -->
      <div class="accordion">
        Análisis del valor añadido
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </div>
      <div class="accordion-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th><th>Práctica</th><th>Valor</th><th class="ph" >Rango</th><th>Análisis del valor</th>
            </tr>
          </thead>
          <tbody>
            <% for val in @value_matrix %>
            <tr class="<%= val[5] %>">
              <td><%= val[0] %></td><td><%= val[1] %></td><td><%= "%.2f" % val[2] %></td><td class="ph"><%= val[3] %></td><td><%= val[4] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!-- Mapeo a prácticas Ágiles -->
      <div class="accordion">
        Mapeo a prácticas ágiles
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </div>
      <div class="accordion-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="ph">ID</th>
              <th>Práctica</th>
              <th>Soporte</th>
              <th>Práctica de Scrum</th>
              <th class="ph">Guías</th>
            </tr>
          </thead>
          <tbody>
            <% for scrum in @scrum_matrix %>
            <tr>
              <td class="ph"><%= scrum[0] %></td>
              <td><%= scrum[1] %></td>
              <td class="text-center">
                <i class="<%= scrum[2] %>" data-toggle="tooltip" title="<%= scrum[3] %>" aria-hidden="true" ></i>
              </td>
              <td>
                <%= scrum[4]  %>
              </td>
              <td class="ph">
                <% if scrum[5] != 0 %>
                <button type="button" name="button" class="btn btn-primary btn-sm show-guides" >
                  Ver guías
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
                <% else %>
                <button type="button" name="button" class="btn btn-default btn-sm" disabled>
                  Ver guías
                  <i class="fa fa-chevron-right" style="opacity:0" aria-hidden="true"></i>
                </button>
                <% end %>
              </td>
            </tr>

            <!-- Guias -->
            <tr class="accordion-row">
              <td class="ph"></td><td class="ph"></td>
              <td colspan="3">
                <table class="table-nested" style="width:640px;">
                  <tr>
                    <td colspan="2">
                      <%= simple_format(scrum[6]) %>
                    </td>
                  </tr>

                  <% if !scrum[7].nil? %>
                  <tr><th colspan="2"> <%= simple_format(scrum[7]) %></th></tr>
                  <% end %>
                  <% if !scrum[8].nil? %>
                  <tr><th>Ingredientes:</th><td> <%= simple_format(scrum[8]) %></td></tr>
                  <% end %>
                  <% if !scrum[9].nil? %>
                  <tr><th>Procedimiento:</th><td> <%= simple_format(scrum[9]) %></td></tr>
                  <% end %>
                  <% if !scrum[10].nil? %>
                  <tr><th>Herramientas:</th><td> <%= simple_format(scrum[10]) %></td></tr>
                  <% end %>
                  <% if !scrum[11].nil? %>
                  <tr><th>Técnicas:</th><td> <%= simple_format(scrum[11]) %></td></tr>
                  <% end %>
                  <% if !scrum[12].nil? %>
                  <tr><th>Duración:</th><td> <%= simple_format(scrum[12]) %></td></tr>
                  <% end %>
                </table>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!-- Sugerencia de técnicas y herramientas -->
      <div class="accordion">
        Sugerencia de técnicas y herramientas
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </div>
      <div class="accordion-body">
        <table class="table table-hover table-techtool">
          <thead>
            <tr>
              <th>ID</th><th>Práctica</th><th>Técnica o herramienta</th>
            </tr>
          </thead>
          <tbody>
            <% for techtool in @tools_matrix %>
            <tr class="<%= techtool[2] %>">
              <td class="condensed"><%= techtool[0] %></td>
              <td class="condensed"><%= techtool[1] %></td>
              <td class="condensed">
                <ul>
                  <% techtool[3][:easy].each do |tt| %>
                    <li> <%= tt %> </li>
                  <% end %>
                </ul>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <br><hr>
      <!-- Rediseño del proceso -->
      <div class="redesign-head">
        <h2 class="text-head-h2"> Proceso rediseñado </h2>
        <div class="redesign-export">
          <a id="save_svg_diagram" class="btn btn-default" href="#" title="Descargar diagrama (SVG)">
            <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
            <span class="sr-only">Descargar diagrama (SVG)</span>
          </a>
          <a id="save_xml_diagram" class="btn btn-default" href="#" title="Descargar diagrama (XML)">
            <i class="fa fa-download fa-lg" aria-hidden="true"></i>
            <span class="sr-only">Descargar diagrama (XML)</span>
          </a>
        </div>
      </div>

      <!-- render bpmn -->
      <div id="bpmn">
        <%= render 'bpmn_redesign' %>
      </div>

    <% end %>
  </div>
</div>

<!--results ends-->
