<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Name -->
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-building fa-fw"></i></span>
    <%= f.text_field :name, autofocus: true, class: 'form-control', :placeholder => 'Nombre' %>
  </div>

  <!-- Descripción -->
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-file-text fa-fw"></i></span>
    <%= f.text_area :description, class: 'form-control', :placeholder => 'Descripción...' %>
  </div>

  <!-- Numero de empleados -->
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-users fa-fw"></i></span>
    <%= f.number_field :employees_number, class: 'form-control', :placeholder => 'Núm. de empleados' %>
  </div>

  <div class="actions">
    <%= f.submit "Agregar empresa", class:'btn btn-primary' %>
  </div>
<% end %>
