<div class="option">
  <%= radio_button_tag(:respuesta, "siempre") %>
  <%= label_tag(:respuesta_siempre, "Siempre") %>
  <br>
  <%= radio_button_tag(:respuesta, "regular") %>
  <%= label_tag(:respuesta_regular, "Regularmente") %>
  <br>
  <%= radio_button_tag(:respuesta, "rara") %>
  <%= label_tag(:respuesta_rara, "Pocas veces") %>
  <br>
  <%= radio_button_tag(:respuesta, "nunca") %>
  <%= label_tag(:respuesta_nunca, "Nunca") %>
  <br>
  <%= radio_button_tag(:respuesta, "nosabe") %>
  <%= label_tag(:respuesta_nosabe, "No sabe") %>
</div>
