<table class="options">
  <tr>
    <td class="td-space">
      <%= radio_button_tag(:respuesta, "siempre") %>
      <%= label_tag(:respuesta_siempre, "Siempre") %>
    </td>
    <td class="td-space">
      <%= radio_button_tag(:respuesta, "regular") %>
      <%= label_tag(:respuesta_regular, "Regularmente") %>
    </td>
    <td class="td-space">
      <%= radio_button_tag(:respuesta, "rara") %>
      <%= label_tag(:respuesta_rara, "Pocas veces") %>
    </td>
    <td class="td-space">
      <%= radio_button_tag(:respuesta, "nunca") %>
      <%= label_tag(:respuesta_nunca, "Nunca") %>
    </td>
    <td class="td-space">
      <%= radio_button_tag(:respuesta, "nosabe") %>
      <%= label_tag(:respuesta_nosabe, "No sabe") %>
    </td>
  </tr>
</table>
