<!DOCTYPE html>
<html>
<head>
  <title>MAPS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
  <%= render "partials/navigation" %>

    <div style="<%= 'display:none' if notice.nil? and alert.nil? %>">
      <div class="alert alert-info">
        <div class="container">
          <%= notice %>
          <%= alert %>
        </div>
      </div>
    </div>
  <div class="container">
    <h2><%= yield :header %></h2>
    <%= yield %>
  </div>

</body>
</html>
